<ol class="post-list">
  {{> post-info post}}
</ol>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{> comments post.comments}}
</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>